@media (orientation: portrait) {
  .hide-on-portrait {
    display: none;
  }
}

:target::before {
  content: '';
  display: block;
  height: 60px;
  margin: -60px 0 0;
}

.dark-modal > .modal-content > .modal-footer {
  border-top-color: #191919;
}

.dark-modal > .modal-content {
  background-color: #000;
}

.chart-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 300px);
}

.margined {
  margin-left: 10%;
  margin-right: 10%;
}

.thumbnail {
  cursor: pointer;
  outline: 0px solid;
  transition: all 0.08s linear;
}

.thumbnail:hover {
  outline: 5px solid rgb(155, 155, 155);
}

.popup {
  display: none;
}
